<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.241016.32119" targetFramework="net48" />
  <package id="_nilnul_._LINQ_" version="1.1.241016.32253" targetFramework="net48" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net481" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="Ix-Async" version="1.2.5" targetFramework="net48" />
  <package id="MathNet.Numerics" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Cors" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net481" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Memory" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="7.0.4" targetFramework="net48" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="Newtonsoft.Json.Bson" version="1.0.3" targetFramework="net48" />
  <package id="nilnul._acc_._LIB_" version="2.1.241018.170928" targetFramework="net48" />
  <package id="nilnul._acc_._LINQ_" version="1.1.241018.170928" targetFramework="net48" />
  <package id="nilnul._app_._LIB_" version="1.1.241018.145244" targetFramework="net48" />
  <package id="nilnul._bit_._LIB_" version="1.1.241110.144106" targetFramework="net48" />
  <package id="nilnul._character_._LIB_" version="2.1.241109.121956" targetFramework="net48" />
  <package id="nilnul._collection_._LIB__" version="1.0.241119.134603" targetFramework="net48" />
  <package id="nilnul._fs_._LIB_" version="2.1.241112.70302" targetFramework="net48" />
  <package id="nilnul._geometry_._LIB_" version="1.0.241114.121900" targetFramework="net48" />
  <package id="nilnul._lang_._LIB_" version="1.1.241120.42953" targetFramework="net48" />
  <package id="nilnul._ling_._LIB_" version="1.1.241029.131927" targetFramework="net48" />
  <package id="nilnul._linq_._LIB_" version="1.1.240824.153439" targetFramework="net48" />
  <package id="nilnul._num_._LIB_" version="1.1.241108.145825" targetFramework="net48" />
  <package id="nilnul._num_._LINQ_" version="1.1.241104.93627" targetFramework="net48" />
  <package id="nilnul._obj_._LIB_" version="1.2.241121.92704" targetFramework="net48" />
  <package id="nilnul._os_._LIB4FX_" version="1.0.241001.153554" targetFramework="net48" />
  <package id="nilnul._rel_._LIB_" version="1.2.241121.122118" targetFramework="net48" />
  <package id="nilnul._relation_._LIB_" version="1.0.241120.113237" targetFramework="net48" />
  <package id="nilnul._set_._LIB_" version="1.1.240831.105511" targetFramework="net48" />
  <package id="nilnul._stat_._LIB_" version="1.1.241115.110034" targetFramework="net48" />
  <package id="nilnul._time_._LIB_" version="1.1.241120.113832" targetFramework="net48" />
  <package id="nilnul._txt_._LIB_" version="1.1.241121.40227" targetFramework="net48" />
  <package id="nilnul._web_._CTR_" version="1.1.241010.121150" targetFramework="net48" />
  <package id="nilnul._web_._LIB_" version="1.1.241018.174246" targetFramework="net48" />
  <package id="nilnul._win_._LIB_" version="1.1.241018.181651" targetFramework="net48" />
  <package id="nilnul._xml_._LIB_" version="1.1.241113.104722" targetFramework="net48" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.241119.144839" targetFramework="net48" />
  <package id="nilnul.geometry._planar_._LIB_" version="1.1.241118.103136" targetFramework="net48" />
  <package id="nilnul.lang_._cognom_._LIB_" version="2.0.240820.191858" targetFramework="net48" />
  <package id="nilnul.lang_._cot_._LIB_" version="2.0.240820.192426" targetFramework="net48" />
  <package id="nilnul.lang_._cot_._LIB4FX_" version="1.0.240820.181034" targetFramework="net48" />
  <package id="nilnul.math._calculus_._LIB_" version="1.1.240824.151617" targetFramework="net48" />
  <package id="nilnul.num._complex_._LIB_" version="1.1.241114.150250" targetFramework="net48" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.241104.100014" targetFramework="net48" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.241119.142713" targetFramework="net48" />
  <package id="nilnul.num._real_._LIB_" version="2.1.241119.143308" targetFramework="net48" />
  <package id="nilnul.num.real._func_._LIB_" version="1.1.240820.161945" targetFramework="net48" />
  <package id="nilnul.num.real._matrix_._LIB_" version="1.1.241119.144308" targetFramework="net48" />
  <package id="nilnul.num.real._stream_._LIB_" version="1.0.241114.144946" targetFramework="net48" />
  <package id="nilnul.web._css_._LIB_" version="1.1.240918.154044" targetFramework="net48" />
  <package id="nilnul.web._ctr_.WEB._CTR_" version="1.1.240918.143912" targetFramework="net48" />
  <package id="nilnul.web._js_.WEB._CTR_" version="1.1.240918.131220" targetFramework="net48" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net48" />
  <package id="sergeyBochkanov._alglib_._LIB_" version="1.1.240820.162825" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.Collections" version="4.3.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="9.0.0" targetFramework="net48" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="9.0.0" targetFramework="net48" />
  <package id="System.Console" version="4.3.1" targetFramework="net48" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.0" targetFramework="net48" />
  <package id="System.Linq" version="4.3.0" targetFramework="net48" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net481" />
  <package id="System.Memory" version="4.6.0" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Net.Primitives" version="4.3.1" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.Caching" version="9.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net48" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net48" />
  <package id="System.Security.Permissions" version="9.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="9.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.0" targetFramework="net48" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net48" />
  <package id="System.Threading" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net48" />
</packages>